@font-face {
    font-family: ComicNeue-Bold;
    src: url("assets/fonts/ComicNeue-Bold.ttf");
}

html {
    scroll-behavior: smooth; 
}

.wrapper {
    width: 800px;
    height: auto;
    font-family: "ComicNeue-Bold", Arial, sans-serif;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 7px 11px 24px 5px rgba(221, 103, 211, 0.993);
    padding: 10px;
}

.nav {
    background-color:  rgba(221, 103, 211, 0.993);
    border-radius: 10px;
    padding: 10px 5px;
    text-align: right;
    margin: 10px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-list li:nth-child(n+2)::before { 
	content: "·";
	color: white;
}

.nav-link {
    padding: 0 5px;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: rgba(255, 211, 251, 0.993);
}
  
h1 {
    background-color:  rgba(221, 103, 211, 0.993);
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: right;
    margin: 10px 0;
}

.photo {
    position: absolute;
    width: 240px;
    height: auto;
    background-color:  rgba(255, 211, 251, 0.993);
    border-radius: 10px;
    padding: 15px;
    margin-left: 10px;
}

.photo img {
    border-radius: 10px;
}

.contacts {
    position: absolute;
    width: 270px;
    height: auto;
    margin-top: 290px;
}

.contacts-list {
    list-style: none;
    text-align: left;
    margin: 5px;
    padding-left: 15px;
}

.contacts-item {
    margin-bottom: 2px;
}

.contacts-link {
    text-decoration: none;
    color:  black;
}

.fa-brands, 
.fa-solid {
    width: 25px;
    text-align: center;
    color:  rgb(70, 68, 68);
    font-size: 18px;
    vertical-align: middle;
}

.fa-brands:hover, 
.fa-solid:hover {
	color:  rgba(221, 103, 211, 0.993);
}

.main {
    margin: 10px;
    margin-left: 300px;
    text-align: right;  
}

h2 {
    background-color:  rgba(255, 211, 251, 0.993);
    color:  rgba(221, 103, 211, 0.993);
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    text-align: right;
}

.contacts-link:hover,
.education-link:hover,
.experience-link:hover {
    color: rgba(221, 103, 211, 0.993);
}

.main p {
    text-align: left;
    margin: 5px;
    padding-left: 15px;
}

.education-list,
.skills-list {
    list-style: none;
    text-align: left;
    margin: 5px;
    padding-left: 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgba(221, 103, 211, 0.993);
    color: white;
    margin: 10px;
    border-radius: 10px;
	padding: 5px 10px 5px 15px;
}

.my-github {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

.my-github:hover {
      color: rgba(255, 211, 251, 0.993);
}

.github-icon {
    margin-right: 10px;
}